.popover {
 @apply relative
}

.popoverContent {
    min-width: 30px;
    min-height: 30px;
    box-shadow: rgb(145 158 171 / 24%) 0px 0px 2px 0px, rgb(145 158 171 / 24%) -20px 20px 40px -4px;
    @apply absolute py-2 px-4 rounded-lg z-50 bg-white transition-all duration-300;
}

.backdrop {
    width: 100vw;
    height: 100vh;
    z-index: 49;
    position: fixed;
    top: 0;
    left: 0;
}